.page3-container{
    background-color: black;
    text-align: center;
    
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.page3-div2{
    padding-top:5% ;
    padding-bottom: 5%;
}
.page3-player{
    color: orange;
    font-size:30px;
}
.page3-team{
    color:white;
    font-weight: bold;
    font-size:40px;
}
.page3-input{
    padding:10px;
    border:2px solid orange;
    background-color: transparent;
    text-align: center;
    color: white;
}
.page3-add-player{
    border-style: none;
    padding:20px;
    margin-top: 2%;
    border-radius: 8px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}